*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    cursor: pointer;
}
li:hover{
    color:bisque;
    border: 1px solid black;
    border-radius: 20px;
}
.lgz {
    height: 33px;
    background-color: #e3e4e5;
}
.shang{
    float: right;
    height: 35px;
    margin-right: 163px;
    font-size: 12px;
    line-height: 33px;
    color: #adadae;
    
}
.lgz ul li{
    float: left;
    height: 35px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 16px;

}

.h{
    display: none;
    margin-left: -10px;
    width: 4px;
    
}
.h li{
    display: block;
    float: right;
}
.lgz .shang li:hover{
    background-color: white;
    color: tomato;
}
.lgz .shang li:hover ul{
    display: block;
}
.shang .h li{
    display: block;
    z-index: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.z{
    left: 0;
    width: 282px;
    height: 163px;
    background-color: white;
}
.jdl{
    width: 280px;
    height: 92px;
}
.in1{
    float: left;
    width: 126px;
}
.in2{
    float: left;
    width: 126px;
}
.hp{
    width: 1440px;
    height: 194px;
    margin-left: 130px;
    margin-top: -10px;
    background: url(../images/jd.png) no-repeat center;
}
